<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>DB connection info</title>
</head>
<body>
  <h1>Параметры подключения к PostgreSQL</h1>
  <ul>
    <li>Host: {{ hostvars[groups['db'][0]].private_ip | default('db1') }}</li>
    <li>Port: {{ hostvars[groups['db'][0]].db_port }}</li>
    <li>Database: {{ hostvars[groups['db'][0]].db_import_name }}</li>
    <li>User: {{ hostvars[groups['db'][0]].db_import_user }}</li>
  </ul>
</body>
</html>
